*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
     color: rgb(77, 115, 185);
     border-block: solid 2px rgb(147, 165, 199);

}

h2 {
    color: rgb(49, 70, 101);
    margin-bottom: 10px;
    text-align: center;   
}
 
p {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(49, 70, 101);
    border-radius: 6px;
    background-color: rgb(219, 235, 237);
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 15px black;


}

img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    
}
